---
import Layout from '@layouts/Layout.astro';
---

<Layout title="404" description="Huone 404 ei ole täällä">
	<main class="prose">
		<h1>404 Sivu lienee hukassa</h1>
		<p>Älä huoli, pääset valikosta muualle, tai paina selaimen taaksepäin nappia.</p>
		<p>Jos ongelma jatkuu, älä ujostele kertoa sitä ylläpidolle (jhalmu@iki.fi)</p>
	</main>
</Layout>
<style>
	main {
		margin: 20em;
	}
</style>
