---
import Github from '@components/Github.astro';
import Hero from '@components/Hero.astro';
import Navbar from '@components/Navbar.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
	title="Tervetuloa kotisivuilleni."
	description="Juha Halmun projekti- ja kotisivut. Koodaus. Kauneus."
>
	<div class="the_wrapper">
		<header class="grid">
			<Navbar />
		</header>
		<main class="grid">
			<Hero />
		</main>
		<div class="thebutton">
			<a href="#projektit" class="projekti_button">Katso projektit!</a>
		</div>
	</div>
	<section class="the_wrapper">
		<Github />
	</section>
</Layout>
