<section class="hero">
	<h2 class="h2">Heipä Sinä!</h2>
	<p>
		Tervetuloa sivuilleni. Minä olen Juha Halmu ja toivon että viihdytte. Olen koodari, mutta
		välillä tykkään tehdä jotain visuaalista kuten nämä ja edelliset ja ja edelliset ja -sivut. Asun
		Helsingin Kalliossa. Laita ihmeessä postia haluamasi median kautta, niin jutellaan lisää.
	</p>
	<p>
		Avainsanoja: javascript, react, svelte, graphql, css, tailwindcss, scss, docker, flask, fastapi,
		nginx, validius, accessibility, html, python, php, sql, rauta, front ja back, macos, linux, win.
	</p>
</section>
<style>
	.hero p,
	.h2 {
		color: rgb(252, 249, 249);
	}
	.hero .h2 {
		font-family: 'Qwitcher Grypen', cursive;

		color: rgb(252, 249, 249);
		color: #099538;
		color: black;
		font-size: 120%;
	}
</style>
