<section class="hero">
	<h2 class="h2">Heipä Sinä!</h2>
	<p>
		Tervetuloa sivuilleni. Minä olen Juha Halmu ja toivon että viihdytte. Olen koodari, mutta
		välillä tykkään tehdä jotain visuaalista kuten nämä ja edelliset ja -sivut. Olen Helsingin
		Kalliossa asuva taitojansa ylläpitävä henkilö. Laita ihmeessä postia haluamasi median kautta,
		niin jutellaan lisää.
	</p>
	<p>
		Avainsanoja: javascript, react, svelte, graphql, css, tailwindcss, scss, docker, flask, fastapi,
		nginx, validius, accessibility html, python, php, sql, rauta, front ja back, macos, linux, win.
		Opin mielelläni uusia asioita ja päivitän vanhaa.
	</p>
</section>

<style lang="css">
	.hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 50%;
		line-height: 2;
	}
	.hero p {
		font-size: var(--font-size-base);
		line-height: 1.5rem;
		margin-left: 2rem;
		margin-bottom: 1rem;
	}

	.h2 {
		margin: 2rem;
	}
</style>
