---
import { Icon } from 'astro-icon';
---

<nav class="navbar">
	<ul class="nav-links">
		<li class="nav-item">
			<a href="/" aria-label="Back to frontpage"
				><h1 class="h1 text-gradient">stackoverlove.me</h1>
			</a>
		</li>
		<li class="nav-item">
			<a href="/about" aria-label="About page" title="about"
				><Icon name="mdi:about" width={25} />
			</a>
		</li>
		<li class="nav-item">
			<a
				href="https://www.linkedin.com/in/juhahalmu"
				title="LinkedIn"
				aria-label="My LinkedIn Profile"
				><Icon name="mdi:linkedin" alt="Me in LinkedIn" width={25} />
			</a>
		</li>
		<li class="nav-item">
			<a href="https://twitter.com/jhalmu" title="Twitter" aria-label="To my Twitter"
				><Icon name="mdi:twitter" alt="Me in Twitter" width={25} />
			</a>
		</li>
		<li class="nav-item">
			<a href="https://github.com/jhalmu" title="GitHub" aria-label="To my Github"
				><Icon name="mdi:github" alt="My Github page" width={25} />
			</a>
		</li>
	</ul>
</nav>
<style>
	.navbar {
		padding: 2rem;
		margin-right: 5rem;
	}
	.nav-item .h1 {
		font-size: var(--font-size-6);
		line-height: 1.2;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 1rem;
		overflow: hidden;
		justify-content: space-between;
	}
	li {
		float: right;
		padding-left: 1rem;
	}
	li:first-child {
		float: left;
		padding-left: 1rem;
	}
	li a {
		display: block;
		text-align: center;
		text-decoration: none;
		padding: 0.5rem;
	}
	li:not(:first-child) a:hover {
		background-color: #f06bd7;
		border-radius: 50%;
		padding: 1rem;
	}
	li:first-child > a:hover {
		background-color: transparent;
	}
	@media screen and (max-width: 1200px) {
		.card-wrapper {
			grid-template-columns: 1fr;
			max-width: 10rem;
			margin: 2rem;
			gap: 2rem;
		}
		.nav-item .h1 {
			font-size: var(--font-size-4);
		}
	}
	@media screen and (max-width: 960px) {
		.navbar {
			padding: 1rem;
		}
		.card-wrapper {
			grid-template-columns: 1fr;
			max-width: 4rem;
			margin: 0.5rem;
			gap: 1rem;
		}
		.nav-item .h1 {
			font-size: var(--font-size-4);
			grid-columns: 1fr;
		}
	}
</style>
